body {
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
section:nth-child(2n) {
  background: linear-gradient(45deg, rgb(136, 155, 167), rgb(26, 73, 104) 50%);
  /* background: linear-gradient(45deg, rgb(255, 255, 255), rgb(60, 103, 131) 50%); */
}
section:nth-child(2n + 1) {
  background-color: white;
}
section:nth-child(2n + 1) h1 {
  /* color: rgb(100, 158, 197); */
  color: rgb(49, 119, 162);
}
section:nth-child(2n) h1 {
  color: white;
}

/* Body-Header */

#body-header {
  margin: 0px;
  padding: 0px;
  height: 80vh;
  background-image: url(img/background/header.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Horizontal-List */

.horizontal-list {
  position: inherit;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  padding-top: 10px;
}

.horizontal-list li {
  display: inline-block;
  margin: 10px 20px 20px 0px;
}

.horizontal-list li a {
  color: white;
  text-decoration: none;
  transition: color 0.5s, border-bottom 1s;
  font-size: 1.3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.horizontal-list li a:hover {
  color: red;
}
.nav-menu li a:hover {
  border-bottom: 2px solid red;
}

/* Name and Social Info Section */

#name {
  margin-top: 20vh;
  margin-bottom: 0px;
  font-size: 4rem;

  color: white;
}

.social-icons li a i {
  padding: 10px;
  color: rgb(49, 119, 162);
  border-radius: 50%;
  transition: color 1.5s, border 4s;
  border-radius: 50%;
}

.social-icons li a i:hover {
  color: red;
  box-shadow: 0px 0px 4px 2px white;
}

/* About Secton */

#about {
  width: 100%;
  height: auto;
  position: relative;
}
#my-image {
  height: 12rem;
  width: 12rem;
  margin: auto;
  margin-top: -13vh;
}
#my-image:hover {
  animation: image1 0.5s 1;
  animation-fill-mode: forwards;
}
#my-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 8px white;
}
@keyframes image1 {
  from {
    width: 12rem;
    height: 12rem;
  }
  to {
    width: 15rem;
    height: 15rem;
  }
}

#about p {
  width: 70%;
  padding-top: 30px;
  margin: auto;
}

#skills {
  align-items: center;
  margin-top: 50px;
  height: 100%;
}

.skills-head h1 {
  color: white;
}
.skills-head h4 {
  color: white;
}

.skills-display {
  width: 75%;
  padding: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skill-progress {
  width: 11rem;
  height: 2.1rem;
  background-color: lightgrey;
  border-radius: 1rem;
  box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
  margin: 25px;
  overflow: hidden;
}

.skill-progress > div {
  border-radius: 20px 0px 0px 20px;
  box-shadow: 1px 1px 5px 2px #989882;
}

.skill-name {
  padding: 5px;
}
.skill-name span {
  color: white;
  font-size: 1rem;
  margin-left: 10px;
  vertical-align: middle;
}

/*Percentage Classes */

.eighty-five-percent {
  height: inherit;
  width: 85%;
}

.eighty-percent {
  height: inherit;
  width: 80%;
}

.fifty-percent {
  height: inherit;
  width: 50%;
}

/* Experiance Portion and Education Portion*/
.skill-progress:hover {
  color: white;
  box-shadow: 0px 0px 4px 2px white;
}

.exp-head,
.edu-head {
  width: 100%;
}

.work-experience,
.educ-part {
  position: relative;
  width: 60%;
  margin: auto;
  padding: 1px;
  margin-top: 59px;
}
.experiences,
.educations {
  position: relative;
  width: 38%;
  height: 38%;
  padding: 20px;
}

#ex1 {
  text-align: left;
  margin-left: 45px;
}

.experiences:nth-child(2n),
.educations:nth-child(2n) {
  left: 53%;
}
.experiences:nth-child(2n + 1),
.educations:nth-child(2n + 1) {
  text-align: right;
}
.experiences:nth-child(2n + 1) div,
.educations:nth-child(2n + 1) div {
  text-align: left;
}
.experiences h2,
.educations h2 {
  display: inline;
  color: orange;
}
.experiences h3,
.educations h3 {
  color: blue;
  margin-top: 5px;
  margin-bottom: 5px;
}
.educations h3 {
  color: rgb(213, 213, 255);
}
.experiences h4 {
  margin-top: 5px;
  color: grey;
}
.educations h4 {
  margin-top: 5px;
  color: rgb(189, 189, 189);
}
.experiences div p,
.educations div p {
  word-break: break-all;
  font-size: 1.2rem;
}
.educations div p {
  color: white;
}

/* Time Line */

.timeLine {
  position: absolute;
  height: 92%;
  width: 0;
  border: 3px dotted rgb(90, 90, 168);
  left: 50%;
  top: 3%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.timeLineIcon {
  margin-top: -10px;
  margin-bottom: -3px;
  position: sticky;
  color: rgb(66, 137, 185);
  top: 20%;
  margin-right: 1.8px;
  transform: rotate(135deg);
}

.edutimeline {
  border: 3px dotted white;
}

/* Portfolio Part */

.port-inside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  justify-content: center;
}

.port-inside img {
  background-color: white;
  height: 38vh;
  width: 38vh;
  margin: 25px;
  object-fit: cover;
  float: left;
  position: relative;
}

.hover-color {
  background-color: black;
  margin: 25px;
  margin-left: 20px;
  position: absolute;
  height: 40vh;
  width: 40vh;
  opacity: 0;
  border-radius: 4%;
  transition: all 0.45s ease-in-out;
}

.hover-text {
  position: absolute;
  display: flex;
  color: white;
  height: 40vh;
  width: 40vh;
  font-size: 2.5vh;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
  margin-left: 20px;
  align-items: center;
  opacity: 0;
  transition: all 0.45s ease-in-out;
}
.hover-text h4 {
  margin-top: -20px;
}
.images:hover .hover-color {
  z-index: 1;
  opacity: 0.5;
}
.images:hover .hover-text {
  z-index: 1;
  opacity: 1;
}

/* Contact Section */

#contact {
  height: 100%;
  margin-top: 20px;
  padding-top: 0px;
  background: linear-gradient(45deg, rgb(136, 155, 167), rgb(26, 73, 104) 50%);
  color: white;
}

.inside-contact {
  display: flex;
  justify-content: center;
}
.about-you {
  font-size: 1.3rem;
  width: 40%;
  margin: 30px;
  margin-top: 60px;
  height: 300px;
}
.details {
  margin: 20px;
  border-bottom: 3px solid white;
  margin-bottom: 40px;
}
.details input {
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
  margin-left: 10px;
}

.details textarea[placeholder] {
  font-size: 1.3rem;
}

.details textarea {
  max-width: 90%;
  padding: 4px 10px;
  border: 0px solid transparent;
  color: #d9dcdd;
  background: transparent;
  width: 90%;
  line-height: 1.6;
  font-size: 1.05rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.about-you button[type="submit"] {
  background: transparent;
  font-size: 0.95rem;
  border: 2px solid white;
  margin-top: 3%;
  margin-left: 35%;
  border-radius: 2px;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 0.046875em;
  line-height: 1;
  padding: 0.8em 0.8em 0.78em;
  text-transform: uppercase;
}

.about-you button:hover {
  background: white;
  color: #13386fe0;
}

.about-me {
  margin: 30px;
  width: 30%;
  height: 300px;
  padding: 10px;
}

/* Footer Portion */

#footer {
  font-size: large;
  margin-bottom: 3px;
}

.head h1 {
  font-size: 2.5rem;
  padding-top: 10px;
  margin-bottom: -20px;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-center {
  text-align: center;
}
